[submodule "apps/movies"]
	path = apps/movies
	url = https://github.com/nuxt/movies.git
	branch = main
[submodule "apps/hackernews"]
	path = apps/hackernews
	url = https://github.com/nuxt/hackernews.git
	branch = main
[submodule "apps/vitesse-nuxt3"]
	path = apps/vitesse-nuxt3
	url = https://github.com/antfu/vitesse-nuxt3.git
	branch = main
[submodule "apps/nuxt.com"]
	path = apps/nuxt.com
	url = https://github.com/nuxt/nuxt.com.git
	branch = main
[submodule "apps/docus"]
	path = apps/docus
	url = https://github.com/nuxt-themes/docus.git
	branch = main
[submodule "apps/nuxt3-realworld-example-app"]
	path = apps/nuxt3-realworld-example-app
	url = https://github.com/MR-Mostafa/nuxt3-realworld-example-app.git
	branch = main
[submodule "apps/agency-os"]
	path = apps/agency-os
	url = https://github.com/directus-labs/agency-os.git
	branch = main
[submodule "apps/elk"]
	path = apps/elk
	url = https://github.com/elk-zone/elk.git
	branch = main
[submodule "apps/github-explorer"]
	path = apps/github-explorer
	url = https://github.com/SeanLuis/github-explorer.git
	branch = master
[submodule "apps/openstock"]
	path = apps/openstock
	url = https://github.com/florianjs/openstock.git
	branch = main
